* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #3e3223;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content {
    width: 400px;
    height: 400px;
    background-color: #3c056f;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .8),
              -5px -5px 5px rgba(0, 0, 0, .8);
}

.item {
    opacity: 0;
    transform-origin: left bottom;
    transform: translateX(-100px) rotate(-80deg);
    transition: all 1s;
}

.item1{
    transform: translateX(0) rotate(0);
    opacity: 1;
}

.cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px greenyellow solid;
    pointer-events: none;
}

.cursor::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: -6px;
    left: -7px;
    border-radius: 50%;
    background-color: greenyellow;
}