body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(51, 48, 48);
    justify-content: center;
    gap: 10px;
    grid-template-areas: "header header header"
        "sidebar contenu1 contenu1"
        "sidebar contenu2 contenu3"
        "footer footer footer ";
}

footer,
header {
    background-color: blueviolet;
    text-align: center;
}

header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
    background-color: aquamarine;
}

div {
    background-color: rgb(17, 126, 199);
}

body>* {
    border: 4px solid black;
    padding: 20px;
}

.contenu1 {
    grid-area: contenu1;
}

.contenu2 {
    grid-area: contenu2;
}

.contenu3 {
    grid-area: contenu3;
}

footer {
    grid-area: footer;
}