/*body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    background-color: aquamarine;
    width: 10em;
    height: 50px;
    font-size: larger;
    font-weight: bold;
    border: 1px solid goldenrod;
    border-radius: 50vh;
    cursor: pointer;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.2);
    animation: btn 5s;
}
button:hover{
    background-color: #286e2b;
    transition: .5s;
    
}
button:active{
    background-color: #343e38;
    color: #ffffff;
    transform: scale(.8) translateY(10px);
    box-shadow: none;
}
@keyframes btn {
    from{
        transform:translateY(500px) scale(.2);
        
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

:root {
    --orange:#e48613;
    --blanc:white;
}

header {
    background-image: url('../images/hiver.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 56.25vw;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    color: var(--orange);
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 40px;
}

header nav .menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

header nav .menu a {
    font-size: 20px;
    font-weight: 500;
    color: var(--blanc);
    text-decoration: none;
    text-transform: capitalize;
    padding: 3px 8px;
}

header nav .menu a:hover {
    text-decoration: underline;
}

header nav .menu a:active,
header nav .menu a:first-child {
    text-decoration: none;
    background-color: var(--orange);
    border-radius: 5px;
}

main h2 {
    text-align: center;
    padding: 10px;
}
main {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    margin: 10px 20px ;
}

section .menu-image {
    border: var(--orange) 3px solid;
    padding: 20px 16px;
    box-shadow:  5px 5px 5px #2b2b2b80;
    border-radius: 5px;
    flex: .5 0 220px;
    max-width: 270px;
}

section .menu-image img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 15px;
}

section .menu-image span {
    font-size: x-large;
    text-align: center;
    padding-top:20px;
}

p {
    text-align: center;
    margin: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .3);
    border-radius: 20px;
    padding: 20px 0;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

form h2 {
    color: var(--orange);
    font-size: 40px;
    margin-top: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea,
button {
    width: 90%;
    font-size: large;
    margin: 15px;
    padding-left: 10px;
}
input[type="password"],
input[type="text"],
input[type="email"] {
    height: 40px;
    border: none;
    border-bottom: var(--orange) 2px solid;
}

textarea {
    height: 75px;
    border: var(--orange) 2px solid;
}

button {
    padding: 10px;
    background-color:var(--orange);
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    border-radius: 50vh;
    color: var(--blanc);
    font-size: x-large;
}

.inscription {
    position: relative;
    width: 350px;
    margin: 20px;
    overflow: hidden;
    background-color: var(--blanc);
    border-radius: 20px;
    z-index: 9;
}

form::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 150%;
    height:150%;
    background-image: conic-gradient(transparent 5%, var(--orange));
    animation: animation 3s linear infinite;
    z-index: -2;
}

form::after {
    content: '';
    position: absolute;
    background-color: var(--blanc);
    z-index: -1;
    inset: 2px;
    border-radius: 20px;
}

label span {
    padding-left: 18px;
}

@keyframes animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width:700px) {
    header nav .menu {
        width: 63%;
    }  
}