* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.essai {
    width: 100vw;
    height: 50px;
    background-color: #32302e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    z-index: 34;
}

.essai a {
    color: white;
}

header {
    width: 100vw;
    height: 56vw;
    background-image: url(../images/biologie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header h1 {
    display: inline-block;
    padding: 100px 80px;
    font-size: 45px;
    color: #f6f8f7;
}

#span {
    color: #fba93d;
}

main h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hidden {
    opacity: 0;
    transform: translateX(-10%);
    transition: all 2s;
    color: #fba93d;
}

.show {
    opacity: 1;
    transform: translateX(0);
    color: white;
}

main p {
    text-align: justify;
    padding: 0 10px;
    opacity: 0;
    transition: opacity 1s linear,
        transform 1s linear;
    transform: translateY(30px);
}

p.visible {
    opacity: 1;
    transform: translateY(0);
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, .5),
        -5px 5px 5px rgba(0, 0, 0, .5);
}

.imgHidden {
    opacity: .5;
    transition: all 2s;
    transform: rotateY(90deg);
}

.showImage {
    opacity: 1;
    transform: rotateY(0deg);
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 95%;
    background-color: #32302e;
    border-radius: 10px;
    margin: 20px 2.5%;
}

.item {
    width: 15%;
    height: 70%;
    border-radius: 10px;
    transition: all var(--i);
    transition-delay: var(--i);
    opacity: 0;
    transform: translateX(-100px);
}

.showItem {
    opacity: 1;
    transform: translate(0) rotate(0deg);
}