* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #0e4b4b;
}

#weather {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;/*
    background-image: url(../../images/nature.jpg);
    background-position: center;
    background-size: cover;*/
    background: linear-gradient(to bottom, #45c5f7, #eff3f8);
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#weather::before,
#weather::after {
    --angle: 0deg;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), #ffffff, #3c7da4, #8e8ebe, #446bcc,#ffffff);
    z-index: -2;
    padding: 5px;
    border-radius: 20px;
    animation: rotate 3s linear ;
}

#weather::before {
    filter: blur(1.5em);
    opacity: .5;
}

@keyframes rotate {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 80px;
}

p {
    font-size: 26px;
    text-align: justify;
    font-weight: 800;
}

h1 {
    background-image: url(../../images/clouds-4.jpg);
    color: transparent;
    background-position: center;
    -webkit-background-clip: text;
    background-size: cover;
    font-size: 50px;
}

input {
    height: 30px;
    border: none;
    border-bottom: #0e4b4b 3px solid;
    background-color: transparent;
    font-size: x-large;
    font-weight: 800;
    padding-left: 8px;
    color: black;
}

button {
    padding: 8px;
    background-color: #0e4b4b;
    font-size: x-large;
    margin: 10px 0;
    border: none;
    box-shadow: -5px -5px -5px #4f4c4c99;
    border-radius: 15px;
    color: white;
}