* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #303023;
}

.content {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #f8dfbe;
    padding: 8px;
    border-radius: 8px;
}

h1 {
    color: #032703;
}

input {
    height: 50px;
    outline: none;
}

input,
button {
    border: none;
    font-size: larger;
    font-weight: bold;
    border-radius: 8px;
}

.option {
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    width: 49%;
    height: 35px;
    background-color: white;
    cursor: pointer;
}

button:first-child {
    background-color: #04d404;
}

button:last-child:active {
    background-color: #04d404;
}