@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
    box-sizing: border-box;
}
:root {
    --primary-color: #ee8f9f;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto 0;
    width: 80vw;
    gap: 10px
}

a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 4px 10px;
    transition: all .3s;
    border: 2px transparent solid;
}

header a:hover {
    border-color: var(--primary-color);
    border-radius: 8px;
}

header a:active {
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
}

.content {
    margin: 10px auto;
    width: 80vw;
}

.blog {
    margin: 30px auto;
    box-shadow: -2px 2px 2px #f0eff1ba;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

h1 {
    position: relative;
    color: black;
    width: fit-content;
    flex: 1;
}

h1::after {
    position: absolute;
    inset: 0;
    content: attr(data-content);
    -webkit-text-stroke: .5px pink;
    z-index: 2;
}

.blog:hover {
    transition: all .5s;
    box-shadow: -2px 2px 2px var(--primary-color);
}

.blog-detail:hover {
    .title {
        color: var(--primary-color);
    }
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.author {
    font-size: large;
    margin: 0;
    font-weight: 500;
}

i {
    font-weight: 300;
}

.blog-detail {
    flex: 1;
    cursor: pointer;
}

button{
    font-size: large;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    background-color: pink;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: var(--primary-color);
}

article h1 {
    margin: 5px;
}

.paragraph {
    margin-top: 18px;
    font-size: large;
}

.new-blog,.new-blog form {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.new-blog form {
    width: 80vw;
    max-width: 650px;
    gap: 10px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

.new-blog form *:not(label) {
    border: 1px solid black;
    outline: none;
    transition: all .2s;
    font-size: larger;
    padding: 4px 8px;
}
.new-blog form *:focus {
    border: 2px solid var(--primary-color);
}

textarea {
    resize: none;
    resize: vertical;
    overflow-y: auto;
    height: 300px;
}

#btn {
    border: none;
}
