<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="about content">
        <h2> About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat alias fugiat voluptatibus tenetur, corporis quibusdam consequuntur aperiam voluptatem earum laboriosam assumenda corrupti numquam facilis at iure asperiores nihil repellat. Ducimus?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat alias fugiat voluptatibus tenetur, corporis quibusdam consequuntur aperiam voluptatem earum laboriosam assumenda corrupti numquam facilis at iure asperiores nihil repellat. Ducimus?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat alias fugiat voluptatibus tenetur, corporis quibusdam consequuntur aperiam voluptatem earum laboriosam assumenda corrupti numquam facilis at iure asperiores nihil repellat. Ducimus?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>