* {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial;
    box-sizing: border-box;
}

body {
    background-color: #e4e2e2;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: white;
}

.nav-bar {
    width: 1000px;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 10px 10px;
    margin: auto;
}

.nav-bar h1 {
    font-size: 45px;
    text-transform: capitalize;
    color: #4702a8;
}

.nav-bar .search-bar {
    min-width: 200px;
    max-width: 450px;
    flex-grow: 1;
    height: 40px;
    border-radius: 50vh;
    position: relative;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50vh;
    outline: none;
    padding: 0 8px 0 50px;
    font-size: large;
    background-color: #e4e2e2;
}

.nav-bar .search-bar img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.right a {
    border-radius: 50vh;
    padding: 3px 14px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #4702a8;
}

.post-details .profil,
.state-post,
.icon,
.nav-bar,
.search-bar,
.nav-bar .right {
    display: flex;
    align-items: center;
}

main {
    margin: 10px auto 0;
    display: flex;
    flex: 1;
    overflow: hidden;
    gap: 30px;
}

.sidebar-gauche,
.sidebar-droite {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    width: 270px;
    flex: 1;
}

.sidebar-gauche .my-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.my-profil:hover {
    background-color: #cecccc;
}

.sidebar-gauche .my-profil img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.my-profil .name {
    font-size: 2.4em;
    color: #4702a8;
    text-transform: capitalize;
    font-weight: bold;
}

.link-different-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

li {
    list-style: none;
}

li a {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #cecccc;
}

li a:active {
    background-color: #4702a8;

    span {
        color: white;
    }
}

li a span {
    justify-self: start;
    font-size: 23px;
    font-weight: 500;
    color: black;
}

li a i {
    justify-self: end;
    color: #aaa9a9;
}

ul li:first-child a {
    background-color: #4702a8;

    span {
        color: white;
    }
}

.middle-sidebar {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-gauche ul+a {
    background-color: #4702a8;
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius: 50vh;
}

.middle-sidebar::-webkit-scrollbar {
    display: none;
}

.post-details {
    padding: 20px 10px;
    width: 400px;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, .1);
    border-radius: 20px;
    background-color: white;
}

.post-details,
.name-date {
    justify-content: space-between;
}

.post-details .profil,
.nav-bar .right,
.nav-bar {
    gap: 10px
}

.post-details .profil img,
.nav-bar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name-date {
    display: flex;
    flex-direction: column;
}

.name-date .name {
    text-transform: capitalize;
    font-size: 1.4em;
    color: #4702a8;
    font-weight: bold;
}

.date {
    color: gray;
}

.post-title h1 {
    margin: 10px 0;
}

.post-title p {
    font-size: 17px;
}

.active {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}

.state-post {
    justify-content: space-around;
    align-items: end;
    margin: 10px 0 0;
}

.state-post .icon img {
    width: 25px;
    height: 25px;
}

.icon span {
    color: gray;
    font-size: 15px;
}

.icon {
    cursor: pointer;
    background-color: #e4e2e2;
    padding: .3em .5em;
    border-radius: 50vh;
    gap: 3px;
}

.post-title+img {
    width: 100%;
    margin-top: 10px;
    height: fit-content;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

.comment {
    margin: 20px 0 10px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}

.comment img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.comment form {
    margin-left: 8px;
    flex-grow: 1;
    height: 100%;
    position: relative;
    border-radius: 50vh;
    overflow: hidden;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 50vh;
    border: none;
    background-color: #f3f1f1;
    font-size: 1.1rem;
    padding-left: 16px;
}

input:focus {
    border: #4702a8 2px solid;
}

.comment form button {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
}

i {
    color: #4702a8;
    font-size: 25px;
}

.messages {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.messages h1 {
    text-align: center;
}

.sidebar-droite form {
    margin: 20px 0;
    position: relative;
    width: 100%;
    height: 40px;
}

.sidebar-droite form input {
    padding-left: 38px;
    outline: none;
}

.sidebar-droite form img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
}

hr {
    color: #4702a8;
}

#friend-message {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

#friend-message img {
    width: 50px;
    height: 50px;
    border-radius: 50vh;
    object-fit: cover;
}

.friend {
    display: flex;
    flex-direction: column;
}

.friend .name {
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: bold;
}

.friend .time {
    font-size: 15px;
    color: #aaa9a9;
}

/*=========================================================================*/
.create-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(206, 205, 205, 0.4);
    backdrop-filter:blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.createBlog,
.name-email, .createBlog form{
    display: flex;
    flex-direction: column;
}

.createBlog {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: min-content;
}

.createBlog .profil {
    flex: 1;
    display: flex;
    align-items: center;
}

.createBlog .profil img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name-email .name {
    font-size: x-large;
    font-weight: bold;
    color: #4702a8;
}

.name-email .email {
    color: #cecccc;
}

.createBlog form {
    width: 400px;
}

.createBlog form textarea {
    padding: 10px;
    margin-top: 20px;
    outline: none;
    font-size: larger;
    width: 100%;
    min-height: 200px;
    max-height: max-content;
    border: none;
    background-color: #f3f0f0;
    border-radius: 8px;
    resize: none;
}

.createBlog form textarea:focus {
    border: #4702a8 1px solid;
}


button[type="button"] {
    margin: 10px;
    border: none;
    overflow: hidden;
    background-color: transparent;
    color: #4702a8;
    width: max-content;
    position: relative;
    border-radius: 8px;
}

button[type="button"] .bx-image-add {
    font-size: 25px;
}

button[type="button"] input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(5);
    opacity: 0;
}

.createBlog form button[type="submit"] {
    padding: 8px;
    border-radius: 8px;
    font-size: larger;
    border: 0;
    background-color: #4702a8;
    color: white;
}
button:hover{
    cursor: pointer;
}

.bx-x-circle {
    flex: 1;
    text-align: end;
    font-size: 25px;
    color: red;
    cursor: pointer;
}