<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/app.css">
    <title>conversations</title>
</head>

<body>
    <div class="app">
        <div class="users-count">
            <h1> Users </h1>
            <% users.forEach(user=> { %>
                <a href="">
                    <img src="/images/nature.png">
                    <div class="detail-user">
                        <span data-receiverId="<%= user._id %>">
                            <%= user.fullname %>
                        </span>
                        <p>12 min ago</p>
                    </div>
                </a>
                <% }) %>
        </div>
        <div class="conversation">
            <h1> conversation </h1>
            <div class="messages-container">
                
            </div>
            <form action="/api/message" method="post">
                <textarea id="messageInput" name="messageInput" placeholder="write a message"></textarea>
                <button id="sendBtn" type="submit"><i class='bx bx-send'></i></button>
            </form>
        </div>
    </div>
    
    <script>
        let receiverId;
        document.querySelectorAll('a').forEach((a)=>{
            a.addEventListener('click',(e)=>{
                e.preventDefault()
                const receiverId = a.querySelector('span').getAttribute('data-receiverId');
                console.log(receiverId);
            })
        })
        const senderId ='<%= senderId %>';
        console.log(senderId)
    </script>

</body>

</html>