<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/changeProfil.css">
    <title> your profil</title>
</head>
<body>
    <form action="/blogs/update" method="post" class="my-profil" enctype="multipart/form-data">
        <div class="background"></div>
        <img src="<%=profil %>" alt="" srcset="">
        <button type="button">
            <input name="myProfil" type="file">
            <span>change profil </span>
        </button>
        <div class="name">
            <input type="text" name="firstName" placeholder="enter your firstName" class="span">
        </div>
        <div class="name">
            <input type="text" name="lastName" placeholder="enter your firstName" class="span">
        </div>
        <button type="submit"> update </button>
    </form>

    <script>
        const inputImage = document.querySelector(`input[type="file"]`);
        const output = document.querySelector('img');
        inputImage.addEventListener('change',(e)=>{
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    output.src = e.target.result;
                }
                reader.readAsDataURL(file)
            }
        })
    </script>
</body>
</html>