<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/changeProfil.css">
    <title> your profil</title>
</head>
<body>
    <form action="/blogs" method="post" class="my-profil" enctype="multipart/form-data">
        <div class="background"></div>
        <img src="../public/images/2024110213043705.png" alt="" srcset="">
        <button type="button">
            <input type="file">
            <span>change profil </span>
        </button>
        <div class="name">
            <span class="span"> your first name </span>
            <i class='bx bxs-edit-alt'></i>
        </div>
        <div class="name">
            <span class="span">your last name</span>
            <i class='bx bxs-edit-alt'></i>
        </div>
        <button type="submit"> update </button>
    </form>

    <script>
        const span = document.querySelectorAll('.span')
        span.forEach((sp)=>{
            sp.addEventListener('click',()=>{
                sp.nextElementSibling.style.display="none"
                const input = document.createElement('input');
                input.type='text';
                input.value= sp.textContent;
                sp.replaceWith(input);
                input.focus();

                input.addEventListener('blur',()=>{
                    sp.textContent=input.value;
                    input.replaceWith(sp);
                })
            })
        })

        const inputImage = document.querySelector(`input[type="file"]`);
        const output = document.querySelector('img');
        inputImage.addEventListener('change',(e)=>{
            const file = e.target.files[0];
            console.log(file)
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    output.src = e.target.result;
                    console.log(output)
                }
                reader.readAsDataURL(file)
            }
        })
    </script>
</body>
</html>