<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>blogs</title>
</head>
<body>
    <nav>
        <span>Blogs App</span>
        <ul>
            <li><a href="./connexion.html">our blogs</a></li>
            <li><a href="./connexion.html">write</a></li>
            <li><a href="./connexion.html">sign in </a></li>
            <li><a href="./inscription.html">sign up </a></li>
            <li><a href="./connexion.html">get started</a></li>
        </ul>
    </nav>
    <main>
        <h1> humain stories & ideas</h1>
        <p>A place to read, write, and deepen your understanding</p>
        <a href="./connexion.html">get reading</a>
    </main>
    <footer>
        Copyright &copy; khaly ahmad 2024
    </footer>
</body>
</html>