<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/connexion.css">
    <title> connexion </title>
</head>

<body>
    <div class="connexion-form">
        <h1>Log In</h1>
        <form action="/login" method="post">
            <label for="email"> email: </label>
            <input type="email" name="email" id="email" placeholder="email" required>
            <div class="emailError"></div>
            <label for="password">password:</label>
            <input type="password" name="password" id="password" placeholder="password" required>
            <div class="passwordError"> <%=passwordError %></div>
            <p>forgot<a href="/password"> password?</a></p>
            <button type="submit">Log In </button>
            <p>don't have an account <a href="/signup"> Sign Up</a></p>
        </form>
    </div>
</body>

</html>