<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/connexion.css">
    <title> inscription </title>
</head>

<body>
    <div class="connexion-form">
        
        <h1>Sign Up</h1>
        <form method="post">
            <div class="username">
                <label for="firstName">
                    <span> first name</span>
                    <input type="text" id="firstName" name="firstName" placeholder="first name">
                </label>
                <label for="lastName">
                    <span> last name</span>
                    <input type="text" id="lastName" name="lastName" placeholder="last name">
                </label>
            </div>
            <label for="email"> email: </label>
            <input type="email" name="email" id="email" placeholder="entrez votre email" required>
            <p class="emailError" style="color: red;"> <%= emailError %></p>
            <label for="password">password:</label>
            <input type="password" name="password" id="password" placeholder="password" required>
            <input type="password" name="confirmPassword" id="password-confim" placeholder="confirm password" required>
             <p class="passwordError" style="color: red;"> <%= passwordError %> </p>
            <button type="submit">Sign Up </button>
            <p>have an account <a href="/"> Log In</a></p>
        </form>
    </div>
</body>

</html>